body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.card{
  height: 31vw;
  background-color: rgba(255, 255, 255, 0.7);
}

.ui.small.image{
  /* width: calc(50%); */
  height: 8vw;
  margin-top: 0.8vw;
  /* object-fit: cover; */
}